<h1 id='application'><%= app_name %></h1>

<h3>add page. <input id='page_generator' type='submit' value='Browse'/></h3>
<p class='indent gray'>Creates a page for your application at the specified location.</p>

<h3>include.</h3>
<div class='include_type'>
    <h4>controllers</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% var partial = (new MVC.View({absolute_url: 'command/views/_included.ejs'}).render({iter: included.controllers})); %>
    <%= partial %>
    </div>
    <form id='controller_generator'>&nbsp;<input name='controller_name' class='text'/>
    	<input type='submit' value='generate'> 
        <span>)</span>
    </form>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'controller',
	    	included: included.controllers,
	    	files: files.controllers})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>models</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% var partial = (new MVC.View({absolute_url: 'command/views/_included.ejs'}).render({iter: included.models})); %>
    <%= partial %>
    </div>
    <form id='model_generator'>&nbsp;<input name='model_name' class='text'/>
		<select name="model_type">
			<option value="Ajax">Ajax</option>
			<option value="Remote">Remote</option>
			<option value="Cookie">Cookie</option>
		</select>
    	<input type='submit' value='generate'> 
        <span>)</span>
    </form>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'model',
	    	included: included.models,
	    	files: files.models})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>resources</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% if(include.resources[0]) { %>
    	<a>'<%= include.resources[0] %>'</a>
	<% }
	for(var j=1; j<include.resources.length; j++) { %>
    	<a>,&nbsp;'<%= include.resources[j] %>'</a>
	<% } %>
    </div>
    <span>)</span>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'resource',
	    	included: included.resources,
	    	files: files.resources})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>unit_tests</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% var partial = (new MVC.View({absolute_url: 'command/views/_included.ejs'}).render({iter: included.unit_tests})); %>
    <%= partial %>
    </div>
    <form id='unit_test_generator'>&nbsp;<input name='unit_test_name' class='text'/>
    	<input type='submit' value='generate'> 
        <span>)</span>
    </form>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'unit_test',
	    	included: included.unit_tests,
	    	files: files.unit_tests})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>functional_tests</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% var partial = (new MVC.View({absolute_url: 'command/views/_included.ejs'}).render({iter: included.functional_tests})); %>
    <%= partial %>
    </div>
    <form id='functional_test_generator'>&nbsp;<input name='functional_test_name' class='text'/>
    	<input type='submit' value='generate'> 
        <span>)</span>
    </form>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'functional_test',
	    	included: included.functional_tests,
	    	files: files.functional_tests})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>views</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% var partial = (new MVC.View({absolute_url: 'command/views/_included.ejs'}).render({iter: included.views})); %>
    <%= partial %>
    </div>
    <form id='view_generator'>&nbsp;<input name='view_name' class='text'/>
    	<input type='submit' value='generate'> 
		<select name="view_folder">
		<% for(var i=0; i<view_dirs.length; i++) { %>
			<option value="<%= view_dirs[i] %>"><%= view_dirs[i] %></option>
		<% } %>
		</select>
        <span>)</span>
    </form>
    <div class='clear'></div>
    <div class='indent'>
	    <% var partial = (new MVC.View({absolute_url: 'command/views/_unincluded.ejs'}).render({
	    	type: 'view',
	    	included: included.views,
	    	files: files.views})); %>
	    <%= partial %>
        <p class='gray'>Controllers group events for groups of HTML objects.  <a href='#'>Learn more</a></p>
    </div>
</div>

<div class='include_type'>
    <h4>plugins</h4>
    <div class='left'>(</div>
    <div class='includes'>
    <% if(plugins_in_app_file[0]) { %>
    	<a>'<%= plugins_in_app_file[0] %>'</a>
	<% }
	for(var j=1; j<plugins_in_app_file.length; j++) { %>
    	<a>,&nbsp;'<%= plugins_in_app_file[j] %>'</a>
	<% } %>
    </div>
    <span>)</span>
    <div class='clear'></div>
    <ul id='plugins'>
	<% for(var j=0; j<files.plugins.length; j++) { %>
		<% var disabled = true;
		if(included.plugins.indexOf(files.plugins[j]) == -1)
			disabled = false; %>
		
		<li class='plugin'><input type='checkbox' <%= disabled? "disabled='true'": "" %> <%= disabled? "checked='true'": "" %> /> <%= files.plugins[j] %></li>
	<% } %>
	</ul>
</div>