<form id='controller_generator'>Create new controller 
	<input name='controller_name'/>
	<input type='submit' value='create'/>
</form>
<form id='model_generator'>Create new model 
	<input name='model_name'/>
	<select name="model_type">
		<option value="Ajax">Ajax</option>
		<option value="Remote">Remote</option>
		<option value="Cookie">Cookie</option>
	</select>
	<input type='submit' value='create'/>
</form>
<form id='page_generator'>Add a page 
	<input type='submit' value='browse'/>
</form>
<h1 id='application'><%= app_name %></h1>
<%	var included_groups = ['controllers','models','resources','functional_tests','unit_tests'];
	for(var i=0; i<included_groups.length; i++) { %>
	<h2><%= included_groups[i] %></h2>
	<ul id='<%= included_groups[i] %>'>
	<% if(files[included_groups[i]]) { %>
		<% for(var j=0; j<files[included_groups[i]].length; j++) { %>
			<% var checked = false;
			if(included[included_groups[i]] && 
			  included[included_groups[i]].indexOf(files[included_groups[i]][j]) != -1)
					checked = true; %>
			<li class='<%= included_groups[i].singularize() %>'><input type="checkbox" <%= checked? "checked='true'": "" %> /><%= files[included_groups[i]][j] %></li>
		<% } %>
	<% } %>
	</ul>
<%  }  %>

<h2>views</h2>
<% for(var dir in files.views) { %>
	<h3><%= dir %></h3>
	<ul id='views'>
	<% for(var j=0; j<files.views[dir].length; j++) { %>
		<% var checked = false;
		if(included.views && included.views.indexOf(dir+'/'+files.views[dir][j]) != -1)
			checked = true; %>
		<li class='view'><input type="checkbox" <%= checked? "checked='true'": "" %> /><%= files.views[dir][j] %></li>
	<% } %>
	</ul>
<% } %>


<h2>plugins</h2>
<ul id='plugins'>
<% if(files.plugins) { %>
	<% for(var j=0; j<files.plugins.length; j++) { %>
		<% var checked = false;
		if(included.plugins && included.plugins.indexOf(files.plugins[j]) != -1)
			checked = true; %>
		<% var disabled = true;
		if((checked && plugins_in_app_file.indexOf(files.plugins[j]) != -1) || !checked)
			disabled = false; %>
		<li class='plugin'><input type="checkbox" <%= disabled? "disabled='true'": "" %> <%= checked? "checked='true'": "" %> /><%= files.plugins[j] %></li>
	<% } %>
<% } %>
</ul>